<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!--section-->
<section class="container-fluid">
  <!--Big fat DIV-->
  <div class="row-fluid">
    <!--Div of Textarea and Codemask-->
    <div class="col-md-offset-1 form-group col-md-5 ">

      <label for="Text">Text:</label>
      <!--Textarea Div-->
      <div id="edit" class="editable form-control bg-primary"  contenteditable="true" >
      </div>

      <button id="analyse" type="button" class="btn btn-primary">Analyse</button>

      <!--Div for the InfoField-->
      <div class="col-md-12" id="infoField-wrapper">
        <label>Information:</label>
        <div class="col-md-12" id="infoField">
              <div class="col-md-12" id="infoCodeWrapper">
                <label class="col-md-1">Code:</label>
                <div class="col-md-9" id="infoCode"></div>
              </div>
              <div class="col-md-12" id="infoSynDesWrapper">
                <div class="col-md-6" id="infoSynonymsWrapper">
                  <label>Synonyme:</label>
                  <div class="col-md-12" id="infoSynonyms"></div>
                </div>
                <div class="col-md-6" id="infoDescriptionWrapper">
                  <label>Beschreibung:</label>
                  <div class="col-md-12" id="infoDescription"></div>
                </div>
              </div>
        </div>
      </div>

      <!--CodeMask Div-->
      <div id="code-wrapper">
        <label>Code mask:</label>
        <!-- Nav tabs for the list of the mask -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#allMask" aria-controls="allMask" role="tab" data-toggle="tab">All</a></li>
          <li role="presentation"><a href="#hauptDiagnosenMask" aria-controls="hauptDiagnosenMask" role="tab" data-toggle="tab">Hauptdiagnosen</a></li>
          <li role="presentation"><a href="#nebenDiagnosenMask" aria-controls="hebenDiagnosenMask" role="tab" data-toggle="tab">Nebendiagnosen</a></li>
          <li role="presentation"><a href="#prozedurenMask" aria-controls="prozedurenMask" role="tab" data-toggle="tab">Prozeduren</a></li>
        </ul>

        <!-- Tab panes with the lists of the mask -->
        <div class="tab-content codeMaskLists">
          <div role="tabpanel" class="tab-pane active" id="allMask">
            <ul class="list-group unselectable code-maskList" id="allListMask">
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="hauptDiagnosenMask">
            <ul class="list-group unselectable code-maskList" id="mainDiagnosesListMask">
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="nebenDiagnosenMask">
            <ul class="list-group unselectable code-maskList" id="minorDiagnosesListMask">
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane" id="prozedurenMask">
            <ul class="list-group unselectable code-maskList" id="proceduresListMask">
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!--Code Lists-->
    <div class="form-group col-md-5  " id="codeLists">

      <div id="mainDiagnoses">
        <label>Hauptdiagnosen:</label>
        <ul class="list-group selectable codeList" id="mainDiagnosesList">
        </ul>
      </div>


      <div id="minorDiagnoses">
        <label>Nebendiagnosen:</label>
        <ul class="list-group selectable codeList" id="minorDiagnosesList">
        </ul>
      </div>


      <div id="Proccedures">
        <label>Prozeduren:</label>
        <ul class="list-group selectable codeList" id="proceduresList">
        </ul>
      </div>

    </div>


  </div>

  <!--Placeholder-->
  <div class="row">

  </div>
</section>


<footer class="container">
  <div class="row">
    <p class="col-sm-4">
      &copy; 2016 Logo
    </p>
    <ul class="col-sm-8">
      <li class="col-sm-1">
        <a class="btn btn-primary" href="#"
           role="button">Link</a>
      </li>
      <li class="col-sm-1">
        <a class="btn btn-primary" href="#"
           role="button">Link</a>
      </li>
      <li class="col-sm-1">
        <a class="btn btn-primary" href="#"
           role="button">Link</a>
      </li>
      <li class="col-sm-1">
        <a class="btn btn-primary" href="#"
           role="button">Link</a>
      </li>
    </ul>
  </div>

</footer>
